// Here you can add other styles

span.form-control {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #607d8b;
  border: none;
  background-color: inherit;
  transition: none;
  width: auto;
}

.form-checkbox{
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #607d8b;
  border: none;
  background-color: inherit;
  transition: none;
  width: auto;
}

input.ng-touched.ng-invalid {
  border-color: #ff0000;
}

.inline-errors small:not(:last-child):after {
  content: ' | ';
}

.required {
  color: #ff0000;
}

.form-actions .btn {
  margin: 0 5px;
}

.form-group .form-check {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
}

.form-group .treeview-item .form-check {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bs-datepicker-head {
  text-align: center;
}

.comment-container {
  min-height: 500px;
}

.comment-container .comments {
  height: calc(100% - 100px);
  overflow: auto;
}

.comment-container .feedback-comment {
  bottom: 0;
  position: absolute;
}

.comment-container textarea {
  resize: none;
}

.comment-container .comment {
  white-space: pre-wrap;
}